/*html, body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: url(/img/brillant.png);
  padding-top:55px;
//  color: white;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
h1, h2, h3, h4, h5 {font-weight: bold;}
h2 { color: #303030;}
.navbar-header{
}
.container{
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -40px;
}
#wrapper > .container {
  padding-top: 40px;
}
.sandbox{
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: white;
  padding: 10px;
  border-radius: 2px;
  font-size:1.7em;
  height:100px;
  font-family: 'Inconsolata' ;
}
.sandbox-out:hover{
  border:2px;
}
.spacer-sm{
  margin-top:10px;
  margin-bottom:10px;
}
.navbar-brand {
  font-size:2em;
}
.row-margin{
  margin-top:15px;
}
.row-margin-bottom{
  margin-bottom: 15px;

}
.options-container { 
  border: 1px solid #DDD;
  border-top: transparent;
  background: white;
}
#push, #footer {
  
  height:40px;
}
#footer {
  background: #FAFAFA; 
  border-top: 1px solid #EAEAEA;
  text-align: center;
}
[contenteditable="true"] { background: #E9E9E9;  }

[contenteditable="true"]:hover { background: #E0E0E0;  }
*/
.mdl-mini-footer {
  padding: 5px 20px;
}
.mdl-layout__header {
  box-shadow: none;
}
.version-details {
  display: none;
}
.privilege-details {
  display: none;
}
.privilege-details table {
  width: 100%;
}
.privilege-details table .privilege-name {
  font-family: monospace;
  text-transform: uppercase;
}
.mdl-layout__content {
  background: RGB(240,240,240);
}
.command-card {
  width: 95%;
  min-height: 0;
  margin:2.5em auto;
}

.mdl-card__title {
  background:RGB(254,254,254);
}
.mdl-card__actions .weak-active {
  background: RGB(235, 235, 235);
}
.search-box { 
  margin: 0 auto;
  width:75%;
  display: block;
}
#command-box {
  display: block;
  font-family: "Lucida Console", Monaco, monospace;
  width: 100%;
}
