header {
  z-index: 1;
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px -1px 0px 0px #FFF;
  border-bottom: 1px solid #CCC;
}

.header-menu {
  li {
    height: 50px;
    overflow: hidden;
    a {
      //box-sizing: content-box;
      height: 55px;
      border-bottom: #378B2E solid 5px;
      transition: all 0.15s ease-in-out 0s;
      -webkit-transition: all 0.15s ease-in-out 0s;
    }
    a:hover {
      -webkit-transition: all 0.15s ease-in-out 0s;
      transition: all 0.15s ease-in-out 0s;
      margin-top: -2px;
    }
  }
}
