header {
  z-index: 1;
  position: fixed;
  height: 55px;
  width: 100%;
  top: 0;
  background-color: $header-bg-color;
  opacity: 0.92;

  .logo {
    font-size: 25px;
    width: 125px;
    height: 55px;
    float: left;
    padding: 15px 0 15px 0;  
    text-align: center;
  }
}

.header-menu {
  li {
    height: 50px;
    overflow: hidden;
    a {
      //box-sizing: content-box;
      height: 55px;
      border-bottom: #378B2E solid 5px;
      transition: all 0.15s ease-in-out 0s;
      -webkit-transition: all 0.15s ease-in-out 0s;
    }
    a:hover {
      -webkit-transition: all 0.15s ease-in-out 0s;
      transition: all 0.15s ease-in-out 0s;
      margin-top: -2px;
    }
  }
}
