// font variabels
$base-font-family:  Helvetica, sans-serif;
$base-font-size: 12px;
$base-font-color: #0F0F0F;


// Colors
$gray-1: #111;
$gray-2: #222;
$gray-3: #333;
$gray-4: #444;
$gray-5: #555;
$gray-6: #666;
$gray-7: #777;
$gray-8: #888;
$gray-9: #999;
$gray-A: #AAA;
$gray-B: #BBB;
$gray-C: #CCC;
$gray-D: #DDD;
$gray-E: #EEE;

$base-line-height: 1.5em;

$header-bg-color: #3AAD9E;

// Sidebar variables
$sidebar-width: 80px;
$sidebar-bg-color: #FDFDFD;
$sidebar-link-color: #AAA;
$sidebar-border-color: #DDD;

// Main
$main-left-offset: $sidebar-width;
$main-bg-color: #FBFBFB;
