.header {

  .navbar-default {
    background-color: transparent;
  }
}
.header-menu {
  li {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border-bottom: 2px solid transparent;
    &:hover {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      background-color: #F0F0F0;
      border-bottom: 2px solid rgb(255, 255, 170);
    }
  }
}
